In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

### Read Data

In [31]:
PATH = 'files/train.csv'

def read_data(file_dir):
    '''
    Parameters
    ----------
    file_dir: path (string)
        path to your dataset
        
    Returns
    -------
    data: DataFrame
    '''
    
    data = pd.read_csv(PATH).set_index('id')
    
    return data

In [33]:
data = read_data(PATH)

In [34]:
data.head(10).T

id,0,1,2,3,4,5,6,7,8,9
raw_address,jl kapuk timur delta sili iii lippo cika 11 a ...,"aye, jati sampurna",setu siung 119 rt 5 1 13880 cipayung,"toko dita, kertosono",jl. orde baru,"raya samb gede, 299 toko bb kids","kem mel raya, no 4 bojong rawalumbu rt 1 36 ra...",tela keuramat kuta alam,gg. i wates magersari,bunga ncole ix 2
POI/street,/jl kapuk timur delta sili iii lippo cika,/,/siung,toko dita/,/jl. orde baru,toko bb kids/raya samb gede,/kem mel raya,/tela,/gg. i,/bunga ncole ix

### Check Missing Data

In [26]:
data.isnull().sum()

raw_address    0
POI/street     0
dtype: int64

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300000 entries, 0 to 299999
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   raw_address  300000 non-null  object
 1   POI/street   300000 non-null  object
dtypes: object(2)
memory usage: 6.9+ MB

In [14]:
data['raw_address'].value_counts(normalize=True)

pempek mer, l. l. r. e. martad, citarum bandung wetan                 0.000003
hilir kantor m. yasin 57 78753 putussibau utara                       0.000003
dormitory nk, paritohan camp (pt inalum), kec. pintu pohan meranti    0.000003
kamp par kuj gunung putri                                             0.000003
suta jend sudi tembilahan kota                                        0.000003
                                                                        ...
bro gg. 5 17 65314 batu                                               0.000003
raya ser, no 1 sum karya kimia pd                                     0.000003
baro serv elektronik r e martad,                                      0.000003
nasi 5 199 kotakulon                                                  0.000003
rogu food and beverage produc beng semp,                              0.000003
Name: raw_address, Length: 300000, dtype: float64

In [29]:
data.index

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            299990, 299991, 299992, 299993, 299994, 299995, 299996, 299997,
            299998, 299999],
           dtype='int64', name='id', length=300000)