In [1]:
import pandas as pd
import numpy as np
import joblib

In [2]:
data = joblib.load('files/output/data.pkl')

In [3]:
data.head()

,raw_address,POI/street
id,,
0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika
1,"aye, jati sampurna",/
2,setu siung 119 rt 5 1 13880 cipayung,/siung
3,"toko dita, kertosono",toko dita/
4,jl. orde baru,/jl. orde baru

### ML Modeling